-ficha de niños 
-voluntarios
-pagina web
-video
-240 horas
-blog 

----------------
-formalizar los datos
-elaborar el sow del proyecto
-viernes la reunion --conn los chicos..
-----------------
-lunes presentar el sow

----------------------------
-cambios a la pagina como in¿magenes de carusel esos cambios
-hablar con la lorena para ver si cambiamos alfecha

